body {
  font-family: Arial;
  text-align: center;
}

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  width: 150px;
}

.product img {
  width: 100%;
}